<% provide(:title, "") %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav center">
        <!-- Facebook Badge START -->
        <a id="badge_url" href="https://www.facebook.com/klester" target="_TOP"
        title="Kevin Lester"><img src=
        "https://badge.facebook.com/badge/525851732.6970.757307337.png"
        style="border: 0px;"></a>
         <!-- Facebook Badge END -->
      </div>
    </div><!-- /span2 -->

    <div class="span9">
      <div class="row-fluid">
        <div class="span9">
          <h1>Skills:</h1>
          <ul>
            <p><b>Operating Systems:</b> Windows XP, Linux/Unix, OpenBSD, Mac OS X.</p>
            <p><b>Programming Languages:</b> Perl, Ruby, Ruby on Rails, Python, Shell Scripts.</p>
            <p><b>Other Skills:</b> Oracle, MySQL, SQLite3, Apache, CGI scripts, CVS, SVN, Git, HTML, JavaScript, JQuery, XML, .Net Development.</p>
          </ul>
          <h1>Education:</h1>
          <ul>
            <p>University of Georgia, 1994-1997 B.S. in Computer Science.</p>
            <p>Gordon College, 1992-1994, Associate Degree in Computer Science.</p>
          </ul>
          <h1>Coding Example:</h1>
          <ul>
            <li>Ported over software written for my church to handle scheduling and mailing reminders to people serving in different fashions on Sunday mornings.</li>
            <li>Written using Ruby 1.9.2 and rails 3.2.11</li>
            <li><a href="https://github.com/jobberslayer/rotation">https://github.com/jobberslayer/rotation</a></li>
            <li>git@github.com:jobberslayer/rotation.git</li>
            <li>Check out README.rdoc in the root directory.</li>
          </ul>
          <h1>Work Experience:</h1>
          <h2>Reconnecting and Learning</h2>
          <p>November 2012-present</p>
          <ul>
            <li>Moved back to Atlanta in December.</li>
            <li>Spent time reconnecting with family and friends.</li>
            <li>Began teaching myself Ruby on Rails in preparation for a slight career change.</li>
            <li>Built a chain link fence.</li>
            <li>Built a stone path from in-laws house to new fence.</li>
            <li>Helped with restoration after flooding.</li>
            <li>During this time I really wanted to take some time for myself and family, while also updating my knowledge of Ruby on Rails and web development.</li>
          </ul>

          <h2>Level 12 Technologies</h2>
          <p>April 2012-November 2012</p>
          <p>Software Developer</p>
          <p>Our goal is to be faithful in all that we do. Accordingly, it is our earnest desire to provide quality technology solutions to our customers.</p>
          <ul>
            <li>Helped with projects developed for use internally by other companies.</li>
            <li>Worked with python web framework designed inhouse.</li>
            <li>Learned on project .Net framework and used it to create a ticket tracking system.</li>
            <li>This job brought me back into the web development world and helped to hone my CSS and javascript tool sets. It also allowed me to dip my toe into the Microsoft web development world.</li>
          </ul>

          <h2>Appriss</h2>
          <p>March 2009-March 2012</p>
          <p>Software Integration Developer</p>
          <p>Since 1994, Appriss has provided innovative software-based services that help hundreds of local, state, and Federal criminal justice agencies serve and protect their citizens. </p>
          <ul>
            <li>Work on TDEx project, to integrate Texas criminal data from agencies so agencies can share with entire nation.</li>
            <li>Mostly ETL work. Extract data, translate and clean it up, create an xml document that is passed off to another process to load into a centralized oracle database.</li>
            <li>Maintained old interfaces for different vendors.</li>
            <li>Wrote new interfaces for different vendors.</li>
            <li>Process was a mesh of perl, java and an inhouse C program.</li>
            <li>Pushed to get our department using a new inhouse developed framework that is ruby based.</li>
            <li>Formalized a ruby solution capture piece.  The code runs on a windows xp based gateway box at the agency and queries their database and sends data to Appriss servers to finish mapping and processing.  </li>
            <li>Work on exports from our centralized database to export data to costumers using an xslt.</li>
            <li>Work alot with Winxp, OSX, perl, ruby, ssh, and numerous databases.</li>
            <li>This job taught me a lot about patience while working to make things better.</li>
          </ul>

          <h2>MediaOcean</h2>
          <p>June 2006-January 2009</p>
          <p>Senior Sofware Engineer</p>
          <p>Company is leading provider of systems and software to media sales outlets and firms, and has developed a platform that provides a comprehensive sales and order management solution, addressing needs at the individual station as well as the group level.</p>
          <ul>
            <li>Developed Perl Scripts that would be used as internal tools to support the main product.</li>
            <li>Migrated and merged data from the company's older system, which was contained in a DB2 database, and our new product, which was in an Oracle database, into a data warehousing reporting database.</li>
            <li>Developed numerous other support projects in Perl, Ruby and Java.</li>
            <li>Developed a command line Java application that was to used to help filter IBM MQ messages based on whether they were coming from a newer or older system.</li>
            <li>Used Java to create a web application for viewing different message types, such as EDI and MQ, that we had stored in our database from clients.</li>
            <li>Worked with an inhouse development API. It was designed so that developers could write Java code and create web applications; that same code could be used to create a Java Swing application. The majority of our clients leaned towards web applications.</li>
            <li>Created web based applications using standard GUI ideas such as capturing events and data models. The api would handle creating the javascript and the html. It made develop a lot quicker. This idea of creating web applications with gui development conventions instead of worrying with taping things together with javascript, lead to me investigating Adobe Flex2. The last year of my time here, I learned Flex2 in my spare time. After showing my manager a few personal projects I had worked on, he was excited about using this technology to develop an administrative application to help with internal tasks such as code deployment, account and box administration. We leveraged Flex2 for the frontend, Ruby on Rails and MySQL for the backend and Puppet to help sync the client boxes.</li>
            <li>With this job I got to work with alot of great and bright people.  I got a chance to work on a small team to help the company meet some major deadlines and also work on my own to develop a useful inhouse tool.  Also being able to learn a great language like Flex and then be able to use it for your company is very rewarding.</li>
          </ul>

          <h2>Trevi Group</h2>
          <p>November 2005-May 2006</p>
          <p>Senior Software Engineer</p>
          <p>Company is a contract company and we currently work for the Cedar Group. Cedar is a company who works with secure PDF files and is looking to enter the bill processing and mailing market. Trevi Group was brought in to start development of a system to help them prepare for this new business plan.</p>
          <ul>
            <li>Designed and developed a normalization engine. This engine processes the customer data in numerous formats, builds new fields based on rules, and outputs the data in a common format which is then picked up and processed by another system our team is working on.</li>
            <li>Targeted to run on a linux system.</li>
            <li>With this job I got to experience the excitement of going out on my own with some friends and try to work at home as long as we could. Also got some good design experience being responsible for a big piece of the puzzle.</li>
          </ul>

          <h2>Regulus</h2>
          <p>November 2004-October 2005</p>
          <p>Senior Software Engineer</p>
          <p>Company processes customer data from client companies and mails bills and statements out for these companies.</p>
          <ul>
            <li>Placed on a team that was responsible for creating a new system to help process the customer data and prepare it for printing.</li>
            <li>Written in perl and cut down the new customer setup time from months to a couple of weeks.</li>
            <li>Part of 2 man team put in charge of porting the system to java. Accomplished this in little over a month.</li>
            <li>Developed a perl/tk utilitly to help view and analyze the index files of customer data we were using.  </li>
            <li>Placed on a group working on completing a web application using java and jsp and an Oracle database for our customers to view information on currently running or completed jobs and preview pdf versions of the bills.</li>
            <li>With this job I got to use my perl skills and also move back into the java realm. I was allowed to pursue ideas and my input was valued greatly. I really got to flex all my mucles at this company.</li>
          </ul>

          <h2>Stayonline, Inc</h2>
          <p>May 2002-October 2004</p>
          <p>Senior Software Engineer</p>
          <p>Company provides wireless access for various hotel chains.</p>
          <ul>
            <li>Developed and maintain numerous backend servers, all of which are written in perl.</li>
            <li>One allowed promiscious routing for laptops that have static IPs to use our network and emulated the intranet of their business networks.</li>
            <li>Another dynamically build firewall rules therefore securing our product and allowing more fine tuned control of protocols that we allow our customers to access.</li>
            <li>Another was a SMTP server that logs email information on a per user basis so we can more easily monitor possible missuses of our system (i.e. spam).</li>
            <li>Another supported software that allows remote printing of receipts for each hotel from our main server at our home office.</li>
            <li>Worked to help integrate our system with various hotel billing systems.</li>
            <li>Developed a RADIUS proxy server to integrate our authentication system with such companies as AT&T, Boingo, and iPass.</li>
            <li>With this job I gained a large amount of experience with OpenBSD, firewalls, Squid servers and RADIUS servers.</li>
          </ul>

          <h2>Metro IS</h2>
          <p>September 2001-April 2002</p>
          <p>Contract Software Engineer at Atlanta-Journal Constitution</p>
          <p>The Atlanta Journal-Constitution is the only major daily newspaper in Atlanta, Georgia, USA, and its suburbs.</p>
          <ul>
            <li>Developed and implemented algorithm to create a random order listing of links on a static webpage using Javascript.</li>
            <li>Developed numerous online contest and administrative tools to simplify customization, track participants and choose winners.</li>
            <li>Developed image manipulation program for tear sheet system. Decreased processing time from 2 weeks to 12 hours to produce image for the onbase system.</li>
            <li>Added enhancements to database tool written in Java using Swing components.</li>
            <li>Developed HTML database table copying tool.</li>
            <li>Developed UniqueTree class to simplify the use of JTrees in Java swing programs for an application that was being written for internal use.</li>
            <li>With this job I got to work on numerous small projects and got an interesting view into the newspaper business.</li>
          </ul>

          <h2>Silverpop Systems</h2>
          <p>February 2000-August 2001</p>
          <p>Senior Software Engineer</p>
          <p>IT company who's goal was to push the limits of email and make it easier to create media rich emails.</p>
          <ul>
            <li>Developed Perl scripts to handle content storage.</li>
            <li>Developed front end Perl CGI scripts for web based interface for user to manipulate this content.</li>
            <li>Various Perl and Perl cgi scripts for the email system.</li>
            <li>The second version of the product was written in Java.</li>
            <li>Developed the content management for this new system.</li>
            <li>Developed code to handle send time and reception time throttling.</li>
            <li>Developed numerous servlets and jsps to handle configuration.</li>
            <li>Developed Java swing program that could be used by system administrators to browse and manipulate our entire content tree.</li>
            <li>This job was my diving leap into the dot com market.  I fine tuned my perl skills and began my journey as a java developer. </li>
          </ul>

          <h2>North East Health District</h2>
          <p>October 1997-February 2000</p>
          <p>Inhouse department for developing software to support the health care centers for the northeast district of Georgia.</p>
          <ul>
            <li>Developed new patient report, input, and billing system to be used by 10 county health departments.</li>
            <li>System was based on Perl and CGI scripts.</li>
            <li>The system was developed and used on a linux platform using apache web servers and used MySQL as the database.</li>
            <li>On team to design the core components of this system.</li>
            <li>Developed checking for the user end with Javascript.</li>
            <li>My first job out of college.  I learned perl and alot about web applications.  A great first experience and was given lots of opportunties to explore ideas and contribute.</li>
          </ul>
        </div><!--/span-->
      </div><!--/row-->
    </div><!-- /span9 -->
  </div><!-- main row --> 
</div><!-- /container-fluid -->
