<% provide(:title, "") %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav center">
        <!-- Facebook Badge START -->
        <a id="badge_url" href="https://www.facebook.com/klester" target="_TOP"
        title="Kevin Lester"><img src=
        "https://badge.facebook.com/badge/525851732.6970.757307337.png"
        style="border: 0px;"></a>
         <!-- Facebook Badge END -->
      </div>
    </div><!-- /span2 -->

    <div class="span9">
      <div class="row-fluid">
        <div class="span4">
        </div><!--/span-->
      </div><!--/row-->
    </div><!-- /span9 -->
  </div><!-- main row --> 
</div><!-- /container-fluid -->
